/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Jan-2018, 14:22:54
    Author     : amydo
*/

.text-field{
    -fx-background-color: "white";
    -fx-border-color: "grey";
    -fx-border-width: 3;
}

.text-field:focused {
    -fx-background-color: #DCDCDC;
}